mixin article(article)
	.article-item
		.article-item__img(style='background-image:url('+ article.img + ')')
			img(src=article.img, alt="")
		.article-item__info
			.article-item__info--header
				span=article.date
				span=article.author
			.article-item__info--title=article.title
			.article-item__info--desc=article.desc