mixin products-item(className,list)
    each item in list
        div(class="products-item" + ((className) ? (' ' + className) : ''))
            .products-item__img
                img(src=item.img, alt="")
            .products-item__info
                .products-item__title!=item.title
                .products-item__prices
                    if item.oldPrice
                        .products-item__price._current=item.price
                        .products-item__price._old=item.oldPrice
                    else
                        .products-item__price=item.price
            .products-item__controls
              a.products-item__control._favorite.active(href="#")
              a.products-item__control._basket(href="#")
              a.products-item__control._resize(href="#")
